.budget {
  display: flex;
  /* height: 800px; */
  padding: 20px;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: #1D1D41;
}

.budget-header {
  display: flex;
  width: 299px;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  margin: 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.budget-dropdown-button {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 7px;
  border: 1px solid #55537B;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.budget-dropdown-button:hover {
  transform: scale(1.1);
}

.budget-pie-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 292px;
  height: 285px;
  flex-shrink: 0;
}

.budget-percentage-breakdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
}

.percentage-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.percentage-description {
  display: flex;
  align-items: center;
  margin: 0px;
  gap: 10px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.percentage {
  color: #FFF;
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.budget-details-container {
  display: flex;
  width: 260px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.budget-details {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 9px;
  border: 1px solid #484865;
}

.budget-details-h3 {
  margin: 0px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.budget-details-flex {
  display: flex;
  width: 80px;
  padding: 2px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: rgba(2, 177, 90, 0.15);
}

.budget-details-amount {
  margin: 0px;
  color: #02B15A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.budget-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.budget-categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: stretch;
}

.budget-categories-h3 {
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.budget-categories-add-button {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.budget-categories-add-button:hover {
  transform: rotate(90deg) scale(1.2);
}