.cashflow {
  display: flex;
  padding: 20px 30px 0px 30px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
  background: #1D1D41;
}

.cashflow-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.cashflow-h1 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cashflow-header-income {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cashflow-header-text {
  width: 70px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cashflow-header-button-container {
  display: flex;
  border: none.;
  padding: 6px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid #464687;
}