.transactions {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 30px;
  background: #1D1D41;
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.transactions-h1 {
  color: #FFF;
  margin: 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.transactions-searchbar-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #27264E;
}

.searchbar-flex {
  display: flex;
  align-items: center;
  gap: 67px;
}

.searchbar-text {
  background-color: transparent;
  border: none;
  color: #AEABD8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}

.searchbar-button {
  background-image: url('../../assets/icons/searchbar-button.svg');
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.searchbar-button:hover {
  transform: scale(1.3);
  /* background-color: #AEABD8; */
  border-radius: 20px;
  padding: 4px;
}

.transactions-table-container {
  width: 100%;
  background: #1D1D41;
  color: #FFF;
}

.transactions-table-container th,
.transactions-table-container td {
  text-align: left;
  padding: 8px;
  margin-top: 10px;
  font-size: 14px; 
  border-bottom: 1px solid #27264E;
}

.transactions-table-container th {
  background: #27264E; 
  color: #AEABD8;
  ; 
}

.transactions-table-container tr:hover {
  background-color: #6359E9;
}

.transactions-tr:last-child {
  margin-bottom: 0;
}

.transactions-status-text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table-scroll {
  max-height: 140px;
  overflow-y: auto;
  width: 100%; 
  margin: 10px 0;
  padding: 0px 10px 0px 0px;
}

.table-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #AEABD8; 
  border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #6359E9; 
}

.table-scroll::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}
